@page
@model IndexModel
@{
    ViewData["Title"] = "Medabots CMS";
}

<div class="container">
    <div class="row">
        <img src="images/mainImage.jpg" alt="Main" width="1000" height="900" />
    </div>
    <div class="row">
        <div class="col-5" style="margin-right:0px; padding-right:0px">
            <div style="background-color:#393939; height:760px">
                <ul class="list-serv">
                    <li class="list-item">Buy the latest Medabot in the market</li>
                    <li class="list-item">Repair and Diagnose (Free Quote)</li>
                    <li class="list-item">Exchange Used Parts</li>
                    <li class="list-item">Upgrade and Maintenance</li>
                    <li class="list-item">Delux wax and wash</li>
                    <li class="list-item">Boarding</li>
                    <li class="list-item">Fully Medabot revision</li>
                    <li class="list-item">And More!...</li>
                </ul>
                <div class="extraButton">Schedule a Service</div>
            </div>
            
        </div>
        <div class="col-5" style="margin-right:0px; padding:0px">
            <div style="background-color: #393939">
                <img src="images/metabee.jpg" width="760"/>
            </div>
        </div>
    </div>
</div>

