<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MedaBots CMS</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MedaBotsCMS.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/main.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/font-awesome/css/all.css" />
    <link rel="shortcut icon" href="/gear.ico">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
          rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
</head>
<body>
    <header>
        <nav class="bar-style navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom">
            <div class="container-fluid">
                <a class="navbar-brand" style="cursor:pointer; color: white" onclick="openNav()">Menu</a>
              @*  <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link link-color" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link link-color" asp-area="" asp-page="/RegisterProcess/Register">Appointment</a>
                        </li>
                    </ul>
                </div>*@
            </div>
        </nav>
    </header>
    <div>
         <div id="mySidebar" class="sidebar">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a asp-page="/Index">Home</a>
            <a asp-page="/RegisterProcess/Register">Schedule Service</a>
            <a asp-page="/RegisterProcess/Register">See Tasks</a>
            <a asp-page="/RegisterProcess/Register">MedaParts</a>
            <a asp-page="/RegisterProcess/Register">Check In</a>
            <a asp-page="/RegisterProcess/Register">Check Out</a>
            <a asp-page="/RegisterProcess/Register">Catalog</a>
            <a asp-page="/RegisterProcess/Register">About Us</a>
        </div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

    <script>
        function openNav() {
            document.getElementById("mySidebar").style.width = "250px";
        }

        /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
        function closeNav() {
            document.getElementById("mySidebar").style.width = "0";
        }

        function goCart() {
            var url = '@Url.Action("ShoppingCart", "Store")';
            window.location.href = url;
        }

        $('body').click(function (event) {
            var a = event.target;
            if ($('#mySidebar').css("width") == "250px" && a.id !== 'mySidebar') {
                document.getElementById("mySidebar").style.width = "0";
            }

        });
        
    </script>
</body>
</html>